#footer{
	background-color:#a0a0a0;
	font-family:Helvetica;
	
}
.rightbdr{
	border-right:2px;
}
.nodecor>a{
	color:#666666;
}
.hero{
	background: url("/home/ayushgp/Documents/FAPS/img/Events.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.15) inset;
    height: 80%;
}
.ptable{
	padding:25px;
}
.pback{
	background:url("");
}
.intro-text {
	padding-top: 5%;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	font-size:80px;
	font-family:'Fredericka the Great';
	text-decoration:italic;
	opacity:.7;
}
.events{
	 margin:15px 0px 15px 0px;
	 
}
.event-in{
	padding:10px;
	border:1px solid;
	border-color:#cccccc;
	background-image:url(../img/halftone.png);
}
.venue{
	padding-left:5px;
}